<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaVista.Properties.Settings.mydbConnectionString"
            connectionString="server=localhost;user id=root;password=4180;database=mydb"
            providerName="MySql.Data.MySqlClient" />
        <add name="CapaVista.Properties.Settings.cuentacorriente" connectionString="server=localhost;user id=root;password=4180;persistsecurityinfo=True;database=mydb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>